* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --grey-dark: #323331;
    --grey-light: #767272;
    --color-clients: #D9D9D9;
    --font-1: 'jura';
}

a:hover{
    font-weight: bolder;
}

.grey-dark{
    background-color: var(--grey-dark);
}

.grey-light{
    background-color: var(--grey-light);
}

.logo-scaled {
    width: 16%;
    height: auto;
}

.font-nav {
    font-family: var(--font-1);
}

.font-size3 {
    font-size: 1rem;
}